NEXT_PUBLIC_APP_NAME=医共体管理平台
NEXT_PUBLIC_APP_SHORT_NAME=医共体运行大屏
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8080
SERVER_API_BASE_URL=http://127.0.0.1:8080
NEXT_PUBLIC_AMAP_KEY=
NEXT_PUBLIC_SCREEN_BASE_WIDTH=1920
NEXT_PUBLIC_SCREEN_BASE_HEIGHT=1080
NEXT_PUBLIC_USE_MOCK=0
